body {
  margin: 0;
  overflow: hidden;
  background: black;
}

canvas {
  display: block;
}

/* Mobile Controls */
#mobileControls {
  position: fixed;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 40px;
  pointer-events: none;
}

#mobileControls button {
  pointer-events: all;
  width: 80px;
  height: 80px;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background: rgba(0,0,0,0.5);
  color: white;
}
